<% if (details) { %>
  
  <h1 id="vehicle-title"><%= details.inv_year %> <%= details.inv_make %> <%= details.inv_model %></h1>
  <div class="vehicle-details">
      <div>
        <img src="<%= details.inv_image %>" alt="<%= details.inv_make %> <%= details.inv_model %>">
      </div>
      <div>
        <!-- Display vehicle details using details object -->
          <h2><%= details.inv_make %> <%= details.inv_model %> Details</h2>
          <p><strong>Price:</strong> <%= details.inv_price %></p>
          <p><strong>Description</strong> <%= details.inv_description %></p>
          <p><strong>Color:</strong> <%= details.inv_color %></p>
          <p><strong>Miles:</strong> <%= details.inv_miles %></p>
          <!-- Adicione mais campos conforme necessário -->
      </div>
  </div>
<% } else { %>
  <p>Details not found.</p>
<% } %>

